body {
    background-color: #f4f8fb;
    display: flex;
    justify-content: center;
}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

button:focus {
    outline: none;
}

.header__button {
    width: 30%;
    border: none;
    padding: 3px;
    background: #ff7a59;
    color: white;
}

.header__button:hover {
    opacity: 0.8;
}

.left {
    border-radius: 40px 0 0 40px;
}

.right {
    border-radius: 0 40px 40px 0;
    margin-left: 1px;
}

.item__card {
    margin-top: 15px;
    padding: 10px;
    background: white;
    color: black;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(189, 185, 189, 1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(189, 185, 189, 1);
    box-shadow: 0px 2px 6px 1px rgba(189, 185, 189, 1);
}

.row-orientation {
    flex-direction: row;
}

.card__image {
    padding-bottom: 20px;
    margin: 0 auto;
    width: 200px;
    height: 257px;
    align-self: center;
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.card__subtitle {
    padding-right: 10px;
    text-align: justify;
}

.card__button {
    background-color: #ff7a59;
    width: 200px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: white;
    margin: 0 auto 10px;
}

.row-button {
    align-self: flex-end;
    margin-right: 20px;
}

.card__button:hover {
    opacity: 0.8;
}
